{% extends 'main/layout.html' %}

{% block title %}Schedule{% endblock %}

{% block content %}
    <h1>Ivent Schedule</h1>

    <table border="1">
    <tr>
        <th>#</th>
        <th>Subject</th>
        <th>Type</th>
        <th>Lector</th>
        <th>Classroom</th>
    </tr>
    <tr>
        <td>1</td>
        <td align="center">AI</td>
        <td align="center">Lecture</td>
        <td align="center">Ruslan Arslanovich</td>
        <td align="center">3/4</td>
    </tr>
</table>
{% endblock %}