{% extends "schedule/formlayout.html" %}

{% block title %}profiles{% endblock %}

{% block list_info %}{% endblock %}
{% block list_info_text %}{% endblock %}
{% block list_buttons %}
    <div class="main__links">
        <div class="links__item ">
            <a href="" class="_button">Текст</a>
        </div>
        <div class="links__item ">
            <a href="" class="_button">Текст</a>
        </div>
        <div class="links__item ">
            <a href="" class="_button">Текст</a>
        </div>
        <div class="links__item">
            <a href="" class="_button">Текст</a>
        </div>
    </div>
{% endblock %}